h2, h4, p {
  text-align: center;
}

.roll-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2.5rem;
}

.dice-container {
  display: flex;
  justify-content: center;
  flex: 1;
  margin-bottom: 2.5rem;
}

hr {
  margin-bottom: 2.5rem;
}

.hidden {
  visibility: hidden;
}

.mat-card {
  margin: 1rem;
  width: calc((100% / 7) - 4rem);
  display: inline-block;
}

.mat-card-actions {
  display: flex;
  justify-content: center;
}
