@import '~@angular/material/theming';

h2, h4, p {
  text-align: center;
}

.reset-container {
  display: flex;
  padding: 1rem;

  span {
    flex: 1;
  }
}

.roll-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2.5rem;
}

.dice-container {
  display: flex;
  justify-content: center;
  flex: 1;
  margin-bottom: 2.5rem;
}

hr {
  margin-bottom: 2.5rem;
  width: 100%;
}

.hidden {
  visibility: hidden;
}

.mat-card {
  margin: 1rem;
  width: calc((100vw / 7) - 4rem);
  display: inline-block;
}

:host /deep/ .mat-card-header-text {
  margin: 0;
}

.mat-card-actions {
  display: flex;
  justify-content: center;
}

.score-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newScore {
  color: mat-color($mat-green, 'A400');
}

@media only screen and (max-width: 960px) {
  :host {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .mat-card {
    width: calc(100vw / 10);
    margin: .5rem;
  }

  .hidden {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  :host {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .mat-card {
    width: calc(100vw / 5);
    margin: .5rem;
  }

  .hidden {
    display: none;
  }
}
