:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1.5rem;
}

.held-text {
  margin-top: 1rem;
}

.die-face {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  width: 5rem;
  border: 1px solid;
  border-radius: 5px;
  cursor: pointer;
  background: #fff;

  &.held {
    border-color: #00E676;
  }
}
